[
    {
      "event": "document_state_changed",
      "data": {
        "id": "{{document_id}}",
        "name": "[DEV] Endorsement Quote BLU-CB-W1RHXEGBY Documents",
        "date_created": "2019-08-22T15:59:11.349997Z",
        "date_modified": "2019-08-22T16:00:47.247857Z",
        "expiration_date": "2019-09-21T15:59:11.526446Z",
        "created_by": {
          "id": "3UNiY4oCSCDHMYBSJpYMhW",
          "email": "emailtest+pandadoc@boostinsurance.io",
          "first_name": "Boost",
          "last_name": "Insurance",
          "avatar": null
        },
        "metadata": {
          "document__created_via_public_api": "true",
          "boost_environment": "{{environment}}",
          "boost_document_agent_id": "{{boost_user}}",
          "boost_document_parent_id": "{{quote_id}}",
          "boost_document_parent_type": "{{quote_type}}"
        },
        "fields": [
          {
            "uuid": "HaGuiXpsRD4fknwhg6rDDZ",
            "name": "spanSignature",
            "title": "Signature",
            "assignee": "emailtest+pandadoc@boostinsurance.io",
            "value": {}
          },
          {
            "uuid": "pxjtH2UtdeTGs3WS73woKR",
            "name": "spanLicense",
            "title": "License #",
            "assignee": "emailtest+pandadoc@boostinsurance.io",
            "value": "4444"
          }
        ],
        "tags": [
          "endorsement_quote",
          "CB"
        ],
        "status": "document.completed",
        "recipients": [
          {
            "id": "yauwdTHS68ULUGxHAXnMPX",
            "first_name": null,
            "last_name": null,
            "email": "emailtest+pandadoc@boostinsurance.io",
            "recipient_type": "signer",
            "has_completed": true,
            "role": "primaryNamedInsured"
          }
        ],
        "sent_by": {
          "id": "3UNiY4oCSCDHMYBSJpYMhW",
          "email": "emailtest+pandadoc@boostinsurance.io",
          "first_name": "Boost",
          "last_name": "Insurance",
          "avatar": null
        },
        "action_date": "2019-08-22T16:00:47.477Z",
        "action_by": {
          "id": "hYv6fSGMUJNHpvqJuFQPyG",
          "first_name": "",
          "last_name": "",
          "email": "emailtest+pandadoc@boostinsurance.io"
        },
        "grand_total": {
          "amount": "0",
          "currency": "USD"
        },
        "template": null
      }
    }
]